# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
/bin/
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Learning notes
progress.md
syntax_to_remember.md

# Compiled binary
main

